<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <title>Website</title>
    <%- include ('./partials/styles.ejs') %>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <%- include ('./partials/header.ejs') %>
    <main class="home-page"></main>
    <%- include ('./partials/footer.ejs') %>
</body>
<%- include ('./partials/script.ejs') %>

</html>