<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Website</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body class="home-page">
    <%- include('./partials/header.ejs') %>
    <p class="p-tag">đây là một văn bản</p>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script src="/js/main.js"></script>
</html>
